/* WHOLE PAGE STYLES */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #D9E8F5;
}

/* HEADER STYLES */

header {
  height: 100px;
  background: #F26101;
  border-bottom: 2px solid #304269;
  position: fixed;
  width: 100%;
  z-index: 2;
}

h1 {
  font-size: 70px;
  padding: 15px 0 0 20px;
  float: left;
}

h1,
h2,
h3,
h4 {
  color: #304269;
  font-weight: bold;
}

a {
  color: #304269;
  font-weight: bold;
  text-decoration: none;
}

header nav li {
  float: right;
  margin-top: 35px;
  padding-right: 25px;
  text-decoration: none;
}

nav a {
  font-size: 2em;
}

nav a:hover,
h1 a:hover {
  color: #91BED4;
}

/* MAIN BODY STYLES */
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  font-size: 24px;
  /*justify-content: center;*/
}

h2 {
  font-size: 40px;
  margin: 10px 0 20px 0;
  text-align: center;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.casey {
  height: 350px;
  max-width: 300px;
  margin-left: 200px;
}

section {
  width: 90%;
  margin: 0 auto;
  /*display: flex;*/
}

.main-content {
  margin: 100px auto;
}

.centered {
  width: 80%;
  margin: 0 auto;
}

.about-me {
  text-align: justify;
  margin-bottom: 20px;
}

.my-projects h3 {
  margin-top: 10px;
}

.about-project,
.additional-project-info {
  max-width: 50%;
  height: 400px;
  padding: 20px;
}

.about-project {
  float: left;
}

.additional-project-info {
  float: right;
  clear: right;
}

.about-project,
.additional-project-info {
  border-bottom: 2px solid #304269;
  padding-bottom: 20px;
}

.project-pics {
  margin-left: 50px;
  margin-top: 50px;
  max-width: 300px;
}

/* FOOTER STYLES */

footer {
  background: #304269;
  border-top: 2px solid #F26101;
  color: #D9E8F5;
  height: 100px;
  margin-top: 10px;
  text-align: center;
}

footer p {
  padding: 10px 0px;
}

footer li {
  display: inline-block;
}

.social-media-logo {
  max-width: 25px;
}

/* MEDIA QUERIES */

/*@media screen and (max-width: 650px)*/
