/* Whole Page Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #D9E8F5;
}

/* Header Styles*/
header {
  height: 70px;
  background: #F26101;
  border-bottom: 2px solid #304269;

}

h1 {
  font-size: 50px;
  font-weight: 700;
  /*text-shadow: 1px 1px #304269;*/
  padding: 10px 0 0 10px;
  float: left;
}

h1 a {
  color: #304269;
  text-decoration: none;
}

header nav li {
  float: right;
  /*display: inline-block;*/
  text-decoration: none;
  margin-top: 25px;
  padding-right: 25px;
}

nav a {
    color: #304269;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
}

h1 a:visited,
nav a:visited {
  color: #D9E8F5;
}

/* Main Body Styles */

h2, h3{
  font-weight: bold;
  margin: auto;
  color: #304269;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

img {
  margin: 0 auto;
}

.projects {
  border: 1px solid #91BED4;
  padding: 10px;
}

.project-pics {
  display: block;
  border-radius: 20px;
  max-width: 300px;
  max-height: 300px;
}

section {
  margin: 10px;
  padding-bottom: 5px;
}

section p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.casey {
  max-width: 200px;
}

/* Contact page Styles */

.contact a {
  text-decoration: none;
  color: #304269;
}

/* Footer Styles */

footer {
  background: #304269;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  color: #D9E8F5;
  border-top: 2px solid #F26101;
  /*position: absolute;*/
}

footer p {
  padding: 10px 0px;
}

footer li {
  display: inline-block;
}

footer img {
  max-height: 45px;
}

.social-media-logo {
  max-width: 25px;
}
