/* Whole Page Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #D9E8F5;
  height: 100%;
}

/* Header Styles*/
header {
  height: 70px;
  background: #F26101;
  border-bottom: 2px solid #304269;
}

h1 {
  font-size: 50px;
  padding: 15px 0 0 20px;
  float: left;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #304269;
}

a {
  color: #304269;
  text-decoration: none;
  font-weight: bold;
}

header nav li {
  float: right;
  text-decoration: none;
  margin-top: 25px;
  padding-right: 25px;
}

nav a {
  font-size: 1.3em;
}

nav a:hover,
h1 a:hover {
  color: #91BED4;
}

/* Main Body Styles */

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

h4 {
  font-size: 17px;
}

.container {
  width: 90%;
  margin: 20px auto;
  display: inline-block;
  min-height: 100%;
}

.container:after {
  content: "";
  display: block;
}

p {
  font-size: 20px;
  padding: 10px 0 10px 0;
  line-height: 1.2;
}

.main-content,
.secondary-content,
.projects,
.project-wrapper,
.contact-container {
  border: 2px solid #91BED4;
}

.main-content,
.secondary-content {
  margin-top: 10px;
  height: 600px;
  vertical-align: top;
}

.main-content {
  display: inline-block;
  width: 60%;
  margin-left: 60px;
  padding: 20px 0 5px 50px;

}
.main-content p {
  width: 55%;
  float: right;
}

.secondary-content {
  width: 30%;
  float: right;
  padding: 20px 10px 5px 10px;
}

.casey {
  max-height: 300px;
  float: left;
  margin-top: 10px;
}

/* Projects Page */

.sticky-footer {
  min-height: 100%;
  margin-bottom: -100px;
}

.projects,
.project-wrapper {
  vertical-align: top;
  width: 90%;
  margin: 20px 0 20px 60px;
}

.projects {
  height: 600px;
  display: inline-block;
  padding: 20px 0 5px 50px;
}

.project-wrapper {
  padding: 20px 20px 5px 50px;
}

.project-pics {
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
  padding-bottom: 20px;
}

article {
  width: 48%;
  margin-right: 10px;
  padding-left: 5px;
}

.description,
.about-project,
.additional-project-info {
  display: inline-block;
}

.description,
.additional-project-info {
  vertical-align: top;
}

.description,
.description p {
  width: 80%;
}

.description {
  padding: 20px 0 5px 50px;
}

.additional-project-info {
  float: right;
  padding-right: 10px;
}

.tools,
.column-three li {
  list-style: circle inside;
}

.tools li {
  margin-bottom: 5px;
}

/* History Page */

.column-one,
.column-two,
.column-three {
  display: inline-block;
  vertical-align: top;
}

.column-one {
  width: 35%;
  margin-left: 40px;
}

.column-two,
.column-three {
  width: 25%;
  border-left: 2px solid #F26101;
  padding-left: 20px;
  line-height: 1.2;
  margin-left: 20px;
}

/* Contact page Styles */

.contact-container {
  width: 800px;
  min-height: 100%;
  margin: 20px auto;
}

.contact-page {
  margin: auto;
  padding-top: 20px;
}

.contact-page p {
  display: block;
  clear: left;
}

.contact-info li {
  padding-bottom: 10px;
}

/* Footer Styles */

footer {
  background: #304269;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  color: #D9E8F5;
  border-top: 2px solid #F26101;
}

footer p {
  padding: 10px 0px;
}

footer li {
  display: inline-block;
}

.social-media-logo {
  max-width: 25px;
}
