html {
  @include global-box-sizing(border-box);
  // color: black;
  // height: 100%;
  // min-width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // float: right;
  height: 75vh;
  // width: 65%;
  overflow: hidden;
}


.content-box {
  font-family: $font-raleway;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: .2em;
  height: 30%;
  text-align: center;
  // margin-bottom: 20px;
}

.about-box {
  @include background-image("/content/images/toronto.jpg");
}

.contact-box {
  @include background-image("/content/images/pink-sky.jpg");
  // height: %;
  // margin-top: 30px;
}

.projects-box {
  @include background-image("/content/images/london-pattern.jpeg")
}

.box-title a {
  color: white;
  text-decoration: none;
}
