html {
  @include global-box-sizing(border-box);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  overflow: hidden;
  @include breakpoint($small) {
    height: 80vh;
  }
  @include breakpoint($medium) {
    height: 100vh;
  }
}

.content-box {
  @include font-size(30px);
  font-family: $font-raleway;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: .2em;
  height: 30%;
  text-align: center;
  @include breakpoint($small) {
    margin: auto;
    width: 90%;
  }
  @include breakpoint($medium) {
    margin: 0 auto;
  }
  @include breakpoint($extra-large) {
    width: 85%;
  }
}

.about-box {
  @include background-image("/content/images/toronto.jpg");
}

.contact-box {
  @include background-image("/content/images/pink-sky.jpg");
}

.projects-box {
  @include background-image("/content/images/london-pattern.jpeg")
}

.box-title a {
  color: white;
  text-decoration: none;
}
