.Contact {
  @include background-image("/content/images/pink-sky.jpg");
  height: 75vh;
  @include breakpoint($medium) {
    float: right;
    height: 100vh;
    width: 65vw;
  }
  @include breakpoint($large) {
    background-size: cover;
  }
}

.contact-blurb {
  @include font-size(28px);
  font-family: $font-raleway;
  letter-spacing: .06em;
  line-height: 1.4em;
  padding: 20% 10%;
  text-align: center;
  @include breakpoint($medium) {
    @include font-size(40px);
    margin-top: 10%;
  }
}

.contact-list {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
  padding: 10px;
}

.social-media-icon img {
  background-color: transparentize(black, .5);
  height: 50px;
  width: 50px;
  @include breakpoint($extra-large) {
    height: 75px;
    width: 75px;
  }
}
