.Contact {
  @include background-image("/content/images/pink-sky.jpg");
  height: 75vh;
}

.contact-blurb {
  @include font-size(24px);
  font-family: $font-raleway;
  line-height: 1.4em;
  padding: 20% 10%;
  text-align: center;
}

.contact-list {
  display: flex;
  margin: 20px 10px;
  padding: 10px;
  justify-content: space-around;
}

.social-media-icon img {
  background-color: saturate($color-two, 15);
  height: 50px;
  width: 50px;
}
