header {
  display: flex;
  flex-direction: column-reverse;
  height: 25vh;
  // width: 35%;
  // float: left;
  // border: 1px solid green;
  // padding: 0 20px;
  text-align: center;
}

nav {
  // @include font-size(40px);
  font-family: $font-raleway;
  // height: 65vh;
  // border: 1px solid black;
  margin: 20px 0 30px 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // height: 100%;
  // border: 1px solid green;
}

a {
  text-decoration: none;
  color: black;
  // border: 1px solid purple;

}

.logo {
  // padding-top: 20%;
  // border: 1px solid darkblue;
}

.my-name {
  @include font-size(40px);
  font-family: $font-main;
  // text-transform: uppercase;
  // margin-bottom: 25px;

}

.my-title {
  @include font-size(20px);
  font-family: $font-raleway;
  font-weight: 100;
  display: none;
  // margin-top: 20px;
  // border: 1px solid turquoise;

}

.copyright {
  display: none;
  // @include font-size(10px);
  font-family: $font-raleway;
  font-weight: 300;
  // border: 1px solid magenta;
  // margin-top: 30px;
}
