header {
  align-items: space-around;
  display: flex;
  flex-direction: column-reverse;
  height: 25vh;
  @include breakpoint($small) {
    align-items: center;
    flex-direction: row-reverse;
    height: 20vh;
    justify-content: space-around;
  }
  @include breakpoint($medium) {
    flex-direction: column;
    float: left;
    height: 100vh;
    position: fixed;
    width: 30vw;
  }
}

nav {
  font-family: $font-raleway;
  margin: 20px 0 30px 0;
  @include breakpoint($small) {
    margin: 0;
    padding-top: 5px;
    width: 50%;
  }
  @include breakpoint($medium) {
    width: 100%;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include breakpoint($medium) {
    @include font-size(30px);
    align-items: flex-end;
    flex-direction: column;
    height: 60vh;
  }
}

.nav-links a {
  color: black;
  &:hover {
    font-weight: bold;
  }
}

.logo {
  @include breakpoint($small) {
    width: 45%;
  }
  @include breakpoint($medium) {
    height: 40vh;
    width: 100%;
  }
}

.my-name {
  @include font-size(40px);
  font-family: $font-main;
  text-align: center;
  @include breakpoint($medium) {
    margin-top: 2em;
  }
  @include breakpoint($extra-large) {
    @include font-size(50px);
  }
}

.my-title {
  @include font-size(15px);
  display: none;
  font-family: $font-raleway;
  font-weight: 100;
  text-align: center;
  @include breakpoint($small) {
    display: block;
    margin-top: .5em;
  }
  @include breakpoint($medium) {
    @include font-size(20px);
    font-weight: 200;
  }
  @include breakpoint($extra-large) {
    @include font-size(30px);
  }
}

.copyright {
  font-family: $font-raleway;
  font-weight: 100;
}

.copyright-header {
  display: none;
  @include breakpoint($medium) {
    @include font-size(14px);
    display: block;
    margin-top: 2em;
    text-align: center;
  }
}

.copyright-bottom {
  @include font-size(10px);
  padding-bottom: 5px;
  text-align: center;
  @include breakpoint($medium) {
    display: none;
  }
}
