@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
}

@mixin background-image($url) {
  background:
              url($url)
              center
              center;
}

@mixin color-gradient($color) {
  background-color: $color;
  .one {
    background-color: lighten($color, 10);
  }
  .two {
    background-color: lighten($color, 30);
  }
  .three {
    background-color: lighten($color, 40);
  }
}

// Media Queries

$small: 480px;
$medium: 780px;
$large: 900px;
$extra-large: 1000px;

@mixin breakpoint($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}
