/* TYPOGRAPHY */

html, body {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 2.5em;
}

a,
h1,
h2,
h3,
h4 {
  color: #304269;
  font-weight: bold;
}

a,
nav li {
  text-decoration: none;
}

nav a {
  font-size: 1.4em;
}

nav a:hover,
h1 a:hover {
  color: #91BED4;
}

.wrapper {
  font-size: 24px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

/* HEADER STYLES */

header {
  background: #F26101;
  border-bottom: 2px solid #304269;
  height: 130px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

h1 {
  padding: 25px 0 0 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

nav li {
  display: inline-block;
  margin: 20px 10px;
  text-align: center;
}

/* MAIN BODY STYLES */
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
}

h2 {
  margin: 10px 0 20px 0;
  text-align: center;
}

h3 {
  margin: 20px 0;
}

h4,
.history-dates,
.history-content li {
  margin: 10px 0;
}

.casey {
  display: block;
  height: 350px;
  margin: 20px auto 0 auto;
  max-width: 300px;
}

section {
  width: 90%;
}

section, .centered {
  margin: 0 auto;
}

.centered {
  width: 80%;
}

.main-content {
  margin-top: 80px;
}

.main-text {
  margin-bottom: 20px;
  text-align: justify;
}

.projects-title {
  margin-top: 50px;
}

.my-projects h3 {
  margin-top: 20px;
}

.project-about,
.project-addtl-info {
  border: 2px solid #304269;
  margin: auto;
  max-width: 90%;
  padding: 20px;
}

.project-pics {
  margin-left: 50px;
  margin-top: 50px;
  max-width: 300px;
}

.project-about {
  border-bottom: 0;
}

.project-addtl-info {
  border-top: 0;
}

.project-addtl-info li, p {
  margin: 20px 0;
}

.my-history h2 {
  margin-top: 50px;
}

aside {
  margin-left: 40px;
}

.history-content {
  border-bottom: 2px solid #304269;
  padding-bottom: 30px;
}

.contact-page h2 {
  margin-top: 30px;
}

.blurb {
  text-align: center;
}

.contact-container {
  margin-bottom: 40px;
  margin-top: 30px;
}

/* FOOTER STYLES */

footer {
  background: #304269;
  border-top: 2px solid #F26101;
  color: #D9E8F5;
  height: 150px;
  margin-top: 10px;
  text-align: center;
}

footer p {
  padding: 10px 0px;
}

footer li {
  display: inline-block;
}

.social-media-logo {
  max-width: 25px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 650px){

  header {
    height: 100px;
  }

  h1 {
    float: left;
    font-size: 4em;
  }

  nav {
    float: right;
    max-width: 50%;
  }

  nav li {
    font-size: 1.7em;
    margin-top: 40px;
    padding-right: 30px;
  }

  .casey {
    margin: 40px auto;
  }

  .my-projects article {
    border-top: 2px solid #F26101;
    height: 600px;
    max-width: 50%;
    padding: 0 10px;
  }

  .project-collab {
    margin-top: 70px;
  }

  .project-about,
  .project-addtl-info {
    border: none;
    height: 500px;
    width: 50%;
  }

  .project-about {
    float: left;
  }

  .project-description {
    padding-right: 25px;
  }

  .project-addtl-info {
    float:right;
    padding-top: 90px;
  }

  .history-content,
  .my-projects {
    border-top: 2px solid #304269
  }

}
