.single-project {
  font-family: $font-raleway;
  @include breakpoint($large) {
    letter-spacing: .06em;
    margin-bottom: 20px;
  }
}

.project-title {
  @include font-size(22px);
  color: saturate($color-three, 20);
  font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
  @include breakpoint($small) {
    @include font-size(30px);
  }
  @include breakpoint($medium) {
    @include font-size(22px);
    margin-bottom: 0;
  }
}

.project-description,
.secondary-description,
.collaborators,
.tools,
.github,
.website {
  @include font-size(16px);
  line-height: 1.35em;
  padding: 3% 7%;
  @include breakpoint($small) {
    @include font-size(20px);
  }
  @include breakpoint($medium) {
    @include font-size(18px);
    padding: 1% 0;
  }
  @include breakpoint($extra-large) {
    padding: 2% 5%;
  }
}

.weblink {
  color: saturate($color-two, 80);
  font-weight: bold;
  &:hover {
    letter-spacing: .15em;
  }
}

.tool-span {
  color: $color-three;
  font-weight: bold;
}
