.single-project {
  font-family: $font-raleway;
  margin: 10px 0;
}

.project-title {
  @include font-size(20px);
  color: $color-three;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.project-description,
.collaborators,
.tools,
.github,
.website {
  @include font-size(18px);
  line-height: 1.35em;
  padding: 5px 20px;
}

.weblink {
  font-weight: bold;
}

.weblink:hover {
  color: purple;
}

.tool-span {
  font-weight: bold;
}
