h1 {
  margin-top: 25px;
}

.main-header {
  background-color: $content-card-primary;
  border: 1.5px solid $nav-border;
  display: flex;
  height: 20vh;
  flex-direction: column;
  text-align: center;
}

.title {
  background: url('/../images/clouds.png') no-repeat;
  float: left;
  margin-left: 10px;
  height: 15vh;
  width: 50%;
  text-indent: -9999px;
}

.main-nav {
  display: none;
  flex: 1;
  transform: 300ms all ease;
}

.main-list {
  list-style-type: none;
  &:first-child {
    border: 1px solid $nav-border;
  }
}

.main-list-item {
  background-color: transparentize($content-card-primary, 0.1);
  border-bottom: 1px solid $nav-border;
  position: relative;
  > a {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 1.5rem 0;
    text-decoration: none;
    transition: 250ms all ease;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.main-list-item:hover {
  background-color: darken($content-card-primary, 10);
   > a {
    color: $gator-orange;
  }
}

#logo {
  line-height: 60px;
  position: relative;
}

#navToggle {
  background-color: $nav-border;
  font-size: 20px;
  margin-right: 15px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  transition: 300ms all ease;
  width: 33%;
  &:hover {
    background-color: $content-card-button-hover;
  }
}

#navToggle > a {
  color: $content-card-button-hover;
  display: block;
  font-size: 1em;
  font-weight: 600;
  // padding: 0 2.5rem;
  text-decoration: none;
  transition: 300ms all ease;
  &:hover {
    color: $content-card-primary;
  }
}

@media all and (min-width: 600px) {

  #navToggle {
    display: none;
  }

  .main-nav {
    display: block;
    float: right;
    margin-left: 20%;
    margin-top: 8%;
    position: absolute;
    width: 70%;
  }

  .main-list {
    border: none;
    display: flex;
    flex-flow: row wrap;
    height: 40px;
    justify-content: space-between;
  }

  .main-list:first-child {
    border: none;
  }

  .main-list-item {
    background-color: $nav-border;
    line-height: 50px;
    > a {
      padding: 0 1.25rem;
      &:hover > nav {
        background-color: rgb(51,51,51);
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0,0,0,.6);
        display: block;
        width: 196px;
      }
    }
  }
}

@media all and (min-width: 700px) {

  .nav-title {
    padding-top: 0;
  }

  img {
    margin-top: 10%;
  }

  .main-nav {
    margin-top: 6%;
  }

  .main-list {
    height: 50px;
  }

  .main-list-item a {
    font-size: 24px;
  }
}

@media all and (min-width: 950px) {

  img {
    margin-top: 8%;
  }

  .main-nav {
    margin-top: 5%;
  }
}
