@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');
@import url('https://fonts.googleapis.com/css?family=Play');

// Fonts
// $font-home-page: 'Orbitron', sans-serif;
// $font-home-page-secondary: 'Play', sans-serif;

// Colors
$color-main: #18216A;
$color-accent-yellow: #F7DAAE;
$color-accent-rose: #D1547C;
$color-accent-green: #6BD99A;
$color-accent-blue: #274BA3;
$color-accent-orange: #ECA383;
// $color-space-medium: lighten($color-space, 40);
// $color-space-light: lighten($color-space, 60);
