// COLORS

$main-header-color: rgb(140, 193, 193);
$nav-border: rgba(0,0,0,.20);
$page-header-color: #333;
$page-nav-color: #01B0F0;
$page-title-color: #FF358B;

$content-card-primary: #3778BF;

$content-card-button-hover: lighten($content-card-primary, 40);

$bronco-blue: #304269;
$gator-orange: #F26101;
$color-light-blue: #91BED4;

// FONTS

$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Slab', serif;
$font-muli: 'Muli', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-eb-garamond: 'EB Garamond', serif;
$font-forum: 'Forum', sans-serif;
