// Fonts

@import url('https://fonts.googleapis.com/css?family=Cagliostro|Macondo|Simonetta|Montserrat|Raleway:100,200,300|Montserrat+Alternates');

$font-main: 'Macondo', serif;
$font-raleway: 'Raleway', sans-serif;
$font-secondary: 'Cagliostro', sans-serif;
$font-tertiary: 'Simonetta', serif;
$font-mont: 'Montserrat', sans-serif;
$font-mont-alt: 'Montserrat Alternates', sans-serif;

// Colors
$color-one: #6B7F9E;
$color-two: #4D5178;
$color-three: #C75562;
