@import "_reset";
@import "neat/neat";
@import "_variables";
@import "_images";
@import "_reusable-header";

/* WHOLE PAGE STYLES */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $content-card-button-hover;
  font-family: $header-font;
}

p {
  line-height: 1.3em;
}

.wrapper {
  @include outer-container(100%);
  font-size: 22px;
  // display: flex;
  // flex-direction: column;
  padding-top: 30%;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -150px;
  // position: relative;
  &:after {
    content: "";
    display: block;
    height: 150px;
  }
}

h2 {
  font-size: 34px;
  margin: 10px 0 20px 0;
  text-align: center;
}

h3 {
  font-size: 28px;
  margin: 20px auto;
  text-align: center;
}

h4,
.history-dates,
.history-content li {
  margin: 10px 0;
}

section {
  @include span-columns(10);
  @include shift(1);
}

.main-content {
  margin-top: 40px;
}

.main-content h3 {
  font-size: 22px;
}

.main-text {
  margin-bottom: 25px;
  text-align: justify;
}

.projects-section-title,
.education,
.experience,
.contact-page h2  {
  border-bottom: 2px solid $bronco-blue;
  border-top: 2px solid $bronco-blue;
  color: $bronco-blue;
  font-weight: bold;
  padding: 30px 0;
}

.project-title {
  color: $gator-orange;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

.project-addtl-info li, p {
  margin: 20px 0;
}

.my-history h2 {
  margin-top: 50px;
}

aside {
  margin-left: 20px;
}

.history-content {
  padding-bottom: 30px;
  li {
    line-height: 1.2em;
  }
}

.blurb {
  text-align: center;
}

.contact-container {
  margin-bottom: 40px;
  margin-top: 30px;
}

/* FOOTER STYLES */

footer {
  background: $bronco-blue;
  border-top: 2px solid $gator-orange;
  color: $content-card-button-hover;
  height: 150px;
  margin-top: 10px;
  text-align: center;
}

footer p {
  padding: 10px 0px;
}

footer li {
  display: inline-block;
}
