@import "_reset";
@import "_variables";
@import "_reusable-header";

/* WHOLE PAGE STYLES */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: #D9E8F5;
}

p {
  line-height: 1.3em;
}
